FORMAT: 1A
HOST: https://www.geodesignhub.com/api/v1

# Geodesignhub API

Geodesignhub API exposes a number of functionalities of the platform for developers to build applications and plugins. The API is a JSON-based and provides a REST interface, it uses standard HTTP response codes to indicate API errors.


#### Token Authentication
Geodesignhub exposes project objects and information via the API.  These are associated with individual user accounts via Token Authentication. Since the token is linked to the user, all the projects that the user is part of are accessible using the token. Currently, tokens have an expiry of six months after which a new token can be issued.

You can get your Token by opening the [API page](https://www.geodesignhub.com/api/token/) on Geodesignhub.


#### Access
Geodesignhub supports only **https://** connections via the API. ``http://`` connections will be given a automatic HTTP 301 response. In some cases, ``http://`` queries may be dropped by the server, you may get time out or end point not reachable errors. 


#### Pagination
Geodesignhub API responses are generally paginated. The default page size is 10; you can alter this by adding the ``page_size`` parameter to your request.


#### Response Codes
The API uses standard HTTP response codes to communicate the status of the request. In general, 2xx codes signify success and 4xx codes signify failure, and these codes are generally associated with an invalid parameter being provided in the request. A 5xx code is a general server failure on our side. Please contact our support team if you encounter 5xx errors.

## Group Projects API
Resources related to projects on Geodesignhub.

## Projects Collection [/projects/]

### List all projects [GET]
Returns a list of projects that has the current user as a member.
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)
        
        [
          {
            "id": "5c84b38a16ebeed0",
            "projecttitle": "Cagliari geodesign",
            "projectdesc": "Alternative futures for Metro Cagliari",
            "startdate": "2023-06-14",
            "projecttype": "free",
            "external_connection": "none"
          },
          {
            "id": "f05bf015a514a67c",
            "projecttitle": "Phoenix Geodesign",
            "projectdesc": "Alternative futures for Phoenix, Arizona",
            "startdate": "2023-06-14",
            "projecttype": "free",
            "external_connection": "none"
          }
        ]

## Latest Project Details [/projects/latest/]

### List all projects [GET]
Returns with the details of the latest created project that has the current user as a member.
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)
        
        [
          {
            "id": "5c84b38a16ebeed0",
            "projecttitle": "Cagliari geodesign",
            "projectdesc": "Alternative futures for Metro Cagliari",
            "startdate": "2023-06-14",
            "projecttype": "free",
            "external_connection": "none"
          }
        ]

## Project Creation [/projects/create/]

### Create New Project [POST]
Create a new project in Geodesignhub, a set of data is requried to create a project, please review below

    - `creation_code` A Geodesignhub project creation code, if you don't have one, please contact your project administrator
    - `project_title` Title of the project, it will be displayed at the top of every project
    - `project_description` Title of the project, it will be displayed at the top of every project
    - `map_bounds` Represents a rectangular geographical area on a map. 
    - `map_center` Represents a center as comma seperated Latitude,Longitude center
    - `zoom_level` Sets the zoom of the map
    - `systems` A list of systems that will be created in the project. Each object should have a `name`, `display`, `color` and `cost` value for the system. Maximum nine systems can be provided.
    - `tags` A list of tags that can be added to Diagrams. Each object should have a `tag` and `code` property both as strings. 
    - `plugins` A list of plugin UUIDs to attach to the project, you can use the the user interface to add them as well. 


+ Request (application/json)

    + Headers
    
            Authorization: Token ABC123
            
    + Body
        
            {
                "creation_code": "3PRHNU", 
                "project_title" : "Dublin Geodesign",
                "project_description":"Alternative futures for Ranelagh",
                "map_bounds": "-6.257314682006836,53.32508049349382,-6.250877380371094,53.328925153953186",
                "map_center" : "-6.254,53.327",
                "zoom_level":16,
                "systems": [{"name":"ENE", "tag":"POR", "display":"Energy", "color":"#ab507e", "cost":40000}, {"name":"AG", "tag":"POR", "display":"Agriculture", "color":"#d9cd91", "cost":4000}],
                "tags": [{"tag": "Green Housing","code": "0.5"}],
                "plugins":[]
            }
            
+ Response 201 (application/json)

        {
            "message":"New Project and systems created, they will appear on user1's profile page"
        }

## IGC Project Creation [/projects/create-igc-project/]

### Create New IGC Project [POST]
Create a new project in Geodesignhub, a set of data is requried to create a project, please review below:

    - `gpl_project_id` A Geoplanner project ID, contact your IGC administrator for this code if you dont have it. 
    - `project_title` Title of the project, it will be displayed at the top of every project
    - `project_description` Title of the project, it will be displayed at the top of every project
    - `map_bounds` Represents a rectangular geographical area on a map. 
    - `map_center` Represents a center as comma seperated Latitude,Longitude center
    - `zoom_level` Sets the zoom of the map
    - `systems` A list of systems that will be created in the project. Each object should have a `name`, `display`, `color` and `cost` value for the system. Maximum nine systems can be provided.
    - `tags` A list of tags that can be added to Diagrams. Each object should have a `tag` and `code` property both as strings.
    - `plugins` A list of plugin UUIDs to attach to the project, you can use the the user interface to add them as well. 


+ Request (application/json)

    + Headers
    
            Authorization: Token ABC123
            
    + Body
        
            {
                "gpl_project_id": "ifY96Z8u1zvbd8Bb24gaaBqgD7l3bag8", 
                "project_title" : "Dublin Geodesign",
                "project_description":"Alternative futures for Ranelagh",
                "map_bounds": "-6.257314682006836,53.32508049349382,-6.250877380371094,53.328925153953186",
                "map_center" : "-6.254,53.327",
                "zoom_level":16,
                "systems": [{"name":"ENE", "tag":"POR", "display":"Energy", "color":"#ab507e", "cost":40000}, {"name":"AG", "tag":"POR", "display":"Agriculture", "color":"#d9cd91", "cost":4000}]
                "tags": [{"tag": "Green Housing","code": "0.5"}],
                "plugins":[]
            }
            
+ Response 201 (application/json)

        {
            "message":"New Project and systems created, they will appear on user1's profile page"
        }

## Project Detail [/projects/{projectid}/]

### Get a single project [GET]
Returns the title and description of the selected project. Project name is a sixteen character hash of the project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "id": "5c84b38a16ebeed0",
              "projecttitle": "lego geodesign",
              "projectdesc": "lgd",
              "startdate": "2016-11-15",
              "projecttype": "free",
              "external_connection": "none"
            }

## Project Members [/projects/{projectid}/members/]

### List members of a project [GET]
Returns a list of all the usernames that are a part of the project.


+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string

+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "members": [
            {
              "username": "ufeusr1"
            },
            {
              "username": "ufeusr2"
            },
            {
              "username": "ufeusr3"
            }
          ]
        }

## Project Stakeholders [/projects/{projectid}/stakeholders/]

### List stakeholders of a project [GET]
Returns a list of all the stakeholder that are added to the project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string

+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "stakeholders": [
            {
              "id": "50e6964e-dcf8-4967-bbd2-b448679f1514"
              "name": "City Council"
            },
            {
              "id": "c204303b-d23a-4fa7-b4b2-6a4c51410c81",
              "name": "Department of Transport"
            },
            {
              "id": "50f13d08-a472-4477-88a3-5a14b294ca33",
              "name": "Private Company"
            }
          ]
        }

### Add project stakeholder  [POST]
Add multiple stakeholders to the project

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
    + Body


            ["City Council","Department of Transport"]
            
            
+ Response 200 (application/json)

        {
            "message": "2 stakeholders created successfully and added to the project"
        }



## Project Study Area Bounds [/projects/{projectid}/bounds/]

### Get project bounds  [GET]
Returns a string with bounding box for the project study area coordinates in a `southwest_lng,southwest_lat,northeast_lng,northeast_lat` format.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "bounds": "-0.11569976806640624,51.49624032118747,-0.06420135498046875,51.52829020697338"
        }

## Project Plugins [/projects/{projectid}/plugins/]

### Get project plugins  [GET]
Returns the id and description of all the plugins that are added / linked to the project

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
          {"id": "b08bd2e7-0595-481b-95c9-86c39b57d3db" , "description":"Buildings 3D Viewer"},
          {"id":"3fef8104-c4b2-47fd-86ca-4ebcbf29ef13", "description":"Dashboard"},
        ]

### Add project plugins  [POST]
Add plugins with the specified ID to the project, any existing plugins will be removed

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
    + Body


            ["14c338ae-ab5f-47c9-b067-e40710dc29c9","c467ad77-087d-481e-9f09-7afafc2720a0"]
            
            
+ Response 200 (application/json)

        {
            "message": "2 plugins added successfully"
        }


## External Data Layers [/projects/{projectid}/data_layers/]

### Get External Layers [GET]
A list of external layers added to this project

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 123,
                "server_type": "mapcentia-gc2",
                "layer_type": "wms",
                "url": "https://cagmap.snh.gov.uk/arcgis/services/snh_habitats_and_species/MapServer/WMSServer?",
                "layer_name": "Habitats",
                "attribution": "Map data from OpenStreetMap.",
                "display_name": "All Natural Habitats",
                "additional_metadata": {}
              }
            ]
                      
### Add External Layer [POST]
Add external layers as overlays or underlays to a Project

  - `server_type` The type of external server, acceptable values are `esri` for a public ESRI ArcGIS Server, `eorg` for ESRI ArcGIS Organization that requires a ESRI login, `mapserver` for Mapserver, `geoserver` for Geoserver, `mapcentia-gc2` for Mapcentia GC2, `other` for any other server.
  - `layer_type` The type of layer that is linked, acceptable values are `WMS` for a standard Web Mapping server, `XYZ` for a map tile layer, `esri-basemap` for a ESRI ArcGIS basemap, `esri-tilelayer` for a ESRI Tile layer, `esri-dynamicmaplayer` for a ESRI Dynamic Map Layer, `esri-imagemaplayer` for ESRI Image map layer or `esri-featurelayer` for ESRI Feature Layer. 
  - `url` A valid `https` url link to to the layer, all non HTTPS links will be igonred
  - `layer_name` The name of the layer on the hosting server
  - `attribution` A attribution to the data, if applicable
  - `display_name` The name of the layer as will be displayed in the user interface
  - `additional_metadata` A arbitrary JSON object to hold any other metadata


+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
    + Body


            {
              "id": 123,
              "server_type": "mapcentia-gc2",
              "layer_type": "wms",
              "url": "https://cagmap.snh.gov.uk/arcgis/services/snh_habitats_and_species/MapServer/WMSServer?",
              "layer_name": "Habitats",
              "attribution": "Map data from OpenStreetMap.",
              "display_name": "All Natural Habitats",          
              "additional_metadata": {"id":"61b8cfd1-1673-4dc9-bc21-1dcc48db63c8"}
            }
                        
            
+ Response 200 (application/json)

        {
            "message": "2 plugins added successfully"
        }
                      
## External Data Layers [/projects/{project_id}/data_layers/{layer_id}/]

### Get External Layer Detail [GET]
Get the details of a single external layer added to this project

+ Parameters
    + project_id: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 123,
                "server_type": "mapcentia-gc2",
                "layer_type": "wms",
                "url": "https://cagmap.snh.gov.uk/arcgis/services/snh_habitats_and_species/MapServer/WMSServer?",
                "layer_name": "Habitats",
                "attribution": "Map data from OpenStreetMap.",
                "display_name": "All Natural Habitats",
                "additional_metadata": {}
              }
            ]
                      
### Delete External Layer [DELETE]
Delete external layers linked to the project, you must be a project administrator to delete a layer

+ Parameters
    + project_id: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + layer_id: 23 (integer) - The ID of the layer
    
+ Request
    + Headers

            Authorization: Token ABC123
            

+ Response 204 (application/json)



## Project Study Area Center [/projects/{projectid}/center/]

### Get project center  [GET]
Returns a string with center of the study area in `longitude,latitude` format. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "center": "-0.1567,51.5041"
        }

                
## Project Constraints [/projects/{projectid}/constraints/]

### Get project constraints [GET]
Returns a GeoJSON geometry of constraints set within the project area.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "geojson": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.11260986328124999,
                        51.48651406499528
                      ],
                      [
                        -0.1702880859375,
                        51.473257364513714
                      ],
                      [
                        -0.1847076416015625,
                        51.46812470399791
                      ],
                      [
                        -0.17990112304687497,
                        51.50062180251775
                      ],
                      [
                        -0.18745422363281247,
                        51.5091698216777
                      ],
                      [
                        -0.1888275146484375,
                        51.5177162373547
                      ],
                      [
                        -0.17852783203125,
                        51.52327054772943
                      ],
                      [
                        -0.17234802246093747,
                        51.52327054772943
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "constraints",
                  "author": "ufeusr1",
                  "color": "#343434",
                  "diagramid": 2,
                  "sysid": 1
                }
              }
            ]
          },
          "sysid": 1,
          "rank": 0,
          "id": 0,
          "description": "No Description Added. Please add one.",
          "length": 0,
          "area": 16791.702
        }

## Project Boundaries [/projects/{projectid}/boundaries/]

### Get project boundaries [GET]
Returns a GeoJSON geometry of the first boundary set within the project area.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
            "geojson": {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "bname": "Boundary 1",
                            "areatype": "boundaries",
                            "color": "#a6cee3",
                            "author": "ufeusr1"
                        },
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        38.989019,
                                        37.180636
                                    ],
                                    [
                                        38.989191,
                                        37.166958
                                    ],
                                    [
                                        39.004469,
                                        37.166411
                                    ],
                                    [
                                        39.006529,
                                        37.182414
                                    ],
                                    [
                                        38.989019,
                                        37.180636
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "bname": "Boundary 1",
                            "areatype": "boundaries",
                            "color": "#a6cee3",
                            "author": "ufeusr1"
                        },
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        39.013395,
                                        37.182277
                                    ],
                                    [
                                        39.011679,
                                        37.166
                                    ],
                                    [
                                        39.032106,
                                        37.167368
                                    ],
                                    [
                                        39.03039,
                                        37.18214
                                    ],
                                    [
                                        39.013395,
                                        37.182277
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        }
                    }
                ]
            },
            "description": "First Boundaries"
        }

## Project Second Boundaries [/projects/{projectid}/secondboundaries/]

### Get second project boundaries [GET]
Returns a GeoJSON geometry of second boundaries set within the project area. (Upto two boundaries can be set in a project)

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
            "geojson": {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "bname": "Boundary 1",
                            "areatype": "boundaries",
                            "color": "#a6cee3",
                            "author": "ufeusr1"
                        },
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        38.989019,
                                        37.180636
                                    ],
                                    [
                                        38.989191,
                                        37.166958
                                    ],
                                    [
                                        39.004469,
                                        37.166411
                                    ],
                                    [
                                        39.006529,
                                        37.182414
                                    ],
                                    [
                                        38.989019,
                                        37.180636
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "bname": "Boundary 1",
                            "areatype": "boundaries",
                            "color": "#a6cee3",
                            "author": "ufeusr1"
                        },
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        39.013395,
                                        37.182277
                                    ],
                                    [
                                        39.011679,
                                        37.166
                                    ],
                                    [
                                        39.032106,
                                        37.167368
                                    ],
                                    [
                                        39.03039,
                                        37.18214
                                    ],
                                    [
                                        39.013395,
                                        37.182277
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        }
                    }
                ]
            },
            "description": "Second Boundaries"
        }

## Group Tags API
Resources related to tags on Geodesignhub.

## Create Tags  [/projects/{projectid}/tags/create/]

### Bulk Create project tags [POST]
Creates multiple tags for a project. Using this endpoint, you can create multiple tags for a project. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
            
    + Body


            {"tags":[{"tag":"Hello World", "code":"1.2.2"}]}
            
            
+ Response 200 (application/json)

        {
            "status": "Tags created successfully"
        }


## List Tags  [/projects/{projectid}/tags/]

### Get all project tags [GET]
Returns a JSON object detailing all the tags associated with a project, a diagram can have multiple tags associated with it. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
            {
                "id": "a95fcf52-b2df-46a8-9f70-dab4e7eebaa9",
                "tag": "house",
                "slug": "house",
                "code": "3.4", 
                "diagrams": []
            },
            {
                "id": "d5ea9a83-ca25-4f2a-b077-6480055e4835",
                "tag": "home",
                "slug": "home",
                "code": "0.4",
                "diagrams": []
            },
            {
                "id": "12697faa-6dbf-4b47-9696-6108c7e4e99e",
                "tag": "holiday",
                "slug": "holiday",
                "code": "1",                 
                "diagrams": [23]
            },
            {
                "id": "b88bc74b-58fb-4a38-88b9-16a679a4b783",
                "tag": "housing",
                "slug": "housing"
                "code": "3", 
                "diagrams": [25]
            }
        ]

## Group Diagrams API
Resources related to diagrams on Geodesignhub.

## Diagrams Collection [/projects/{projectid}/diagrams/]

### List project diagrams [GET]
Returns all the diagrams for the project by ID and description.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 7,
                "worlddescription": "ase",
                "author": "ufeusr1",
                "created_at": "2018-08-26T20:53:25.838663",
                "rank": 1,
                "sysid": 2
              },
              {
                "id": 8,
                "worlddescription": "ce",
                "author": "ufeusr1",
                "created_at": "2018-01-26T20:53:25.838663",
                "rank": 1,
                "sysid": 1
              },
              {
                "id": 9,
                "worlddescription": "32",
                "author": "ufeusr1",
                "created_at": "2018-02-02T20:53:25.838663",
                "rank": 2,
                "sysid": 1
              }
            ]

## All Diagrams [/projects/{projectid}/diagrams/all/]

### Get details of all diagrams [GET]
Returns the a list of Diagram geometries and properties for all the diagrams in the project. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string


+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "geojson": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -0.09514331817626952,
                              51.51555307745177
                            ],
                            [
                              -0.09394168853759766,
                              51.51523260058079
                            ],
                            [
                              -0.08668899536132812,
                              51.51549966479653
                            ],
                            [
                              -0.0856161117553711,
                              51.515659902574384
                            ],
                            [
                              -0.08085250854492186,
                              51.51547295844541
                            ],
                            [
                              -0.08020877838134766,
                              51.51531272000991
                            ],
                            [
                              -0.07797718048095703,
                              51.51437798456801
                            ],
                            [
                              -0.07746219635009766,
                              51.51395067054886
                            ],
                            [
                              -0.07741928100585936,
                              51.51352335252112
                            ],
                            [
                              -0.07784843444824219,
                              51.5129891993494
                            ],
                            [
                              -0.07973670959472656,
                              51.51280224425956
                            ],
                            [
                              -0.0832986831665039,
                              51.51309603048481
                            ],
                            [
                              -0.08703231811523438,
                              51.51309603048481
                            ],
                            [
                              -0.08870601654052734,
                              51.5129891993494
                            ],
                            [
                              -0.09029388427734374,
                              51.51325627671818
                            ],
                            [
                              -0.09162425994873047,
                              51.51365688983539
                            ],
                            [
                              -0.0960874557495117,
                              51.51456493319091
                            ],
                            [
                              -0.09724617004394531,
                              51.514992241447835
                            ],
                            [
                              -0.0972890853881836,
                              51.51568660881589
                            ],
                            [
                              -0.09552955627441406,
                              51.51571331504175
                            ],
                            [
                              -0.09514331817626952,
                              51.51555307745177
                            ],
                            [
                              -0.09514331817626952,
                              51.51555307745177
                            ]
                          ]
                        ]
                      },
                      "type": "Feature",
                      "properties": {
                        "areatype": "project",
                        "author": "ufeusr1",
                        "color": "#071ac8",
                        "diagramid": 5,
                        "sysid": 1,
                        "systag": "Small buildings, low density housing"
                      }
                    }
                  ]
                },
                "sysid": 1,
                "rank": 1,
                "id": 1,
                "description": "testing",
                "length": 0,
                "area": 16791.702,
                "cost_override": 100,
                "cost_override_type": "total",        
                "building_data": {
                    "storeys_above_ground": 14,
                    "storeys_below_ground": 0
                },
                "notes": "",        
                "created_at": "2018-08-26 20:57:02",
                "start_date": "2020-02-26",
                "end_date": "2022-02-22",
                "additional_metadata": {},
                "tag_codes": "wp6sw",
                "flat_geobuf_url":"",
                "external_geometries":""
              },
              {
                "geojson": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -0.1064300537109375,
                              51.5212411667077
                            ],
                            [
                              -0.07432937622070312,
                              51.50927666176991
                            ],
                            [
                              -0.06299972534179688,
                              51.505537109466715
                            ],
                            [
                              -0.06282806396484375,
                              51.50468231156
                            ],
                            [
                              -0.06420135498046875,
                              51.504148054725356
                            ],
                            [
                              -0.07656097412109375,
                              51.50607135001545
                            ],
                            [
                              -0.08737564086914062,
                              51.5089561407416
                            ],
                            [
                              -0.09990692138671875,
                              51.51066556016948
                            ],
                            [
                              -0.1078033447265625,
                              51.51087923308819
                            ],
                            [
                              -0.10951995849609375,
                              51.51525930707282
                            ],
                            [
                              -0.11484146118164062,
                              51.522522891558964
                            ],
                            [
                              -0.11243820190429688,
                              51.522629700334875
                            ],
                            [
                              -0.1064300537109375,
                              51.5212411667077
                            ],
                            [
                              -0.1064300537109375,
                              51.5212411667077
                            ]
                          ]
                        ]
                      },
                      "type": "Feature",
                      "properties": {
                        "areatype": "policy",
                        "author": "ufeusr1",
                        "color": "#071ac8",
                        "diagramid": 7,
                        "sysid": 1,
                        "systag": "Small buildings, low density housing"
                      }
                    }
                  ]
                },
                "sysid": 1,
                "rank": 2,
                "id": 2,
                "description": "new polciy",
                "length": 0,
                "area": 16791.702,
                "cost_override": 0,
                "cost_override_type": "total",        
                "building_data": {
                    "storeys_above_ground": 14,
                    "storeys_below_ground": 0
                },
                "notes": "",                   
                "created_at": "2018-08-26 20:57:02",
                "start_date": "2020-02-26",
                "end_date": "2022-02-22",
                "additional_metadata": {},
                "tag_codes": "wp6sw",
                "flat_geobuf_url":"",
                "external_geometries":""
              },
              {
                "geojson": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -0.09479999542236328,
                              51.51472517425703
                            ],
                            [
                              -0.09415626525878906,
                              51.511760623284765
                            ],
                            [
                              -0.09419918060302733,
                              51.509837568143645
                            ],
                            [
                              -0.09758949279785156,
                              51.510558723334285
                            ],
                            [
                              -0.09883403778076172,
                              51.51103948711957
                            ],
                            [
                              -0.09836196899414062,
                              51.511760623284765
                            ],
                            [
                              -0.0990915298461914,
                              51.515900258184224
                            ],
                            [
                              -0.09492874145507812,
                              51.515900258184224
                            ],
                            [
                              -0.09479999542236328,
                              51.51472517425703
                            ],
                            [
                              -0.09479999542236328,
                              51.51472517425703
                            ]
                          ]
                        ]
                      },
                      "type": "Feature",
                      "properties": {
                        "areatype": "project",
                        "author": "ufeusr1",
                        "color": "#fc1999",
                        "diagramid": 8,
                        "sysid": 2,
                        "systag": "Large buildings, Industry, commerce"
                      }
                    }
                  ]
                },
                "sysid": 2,
                "rank": 1,
                "id": 1,
                "description": "new project",
                "length": 0,
                "area": 16791.702,
                "cost_override": 100,                  
                "cost_override_type": "total",        
                "building_data": {
                    "storeys_above_ground": 14,
                    "storeys_below_ground": 0
                },
                "notes": "",                   
                "created_at": "2018-08-26 20:57:02",
                "start_date": "2020-02-26",
                "end_date": "2022-02-22",
                "additional_metadata": {},
                "tag_codes": "wp6sw",
                "flat_geobuf_url":"",
                "external_geometries":""
              }
            ]
            


## All Diagram Details [/projects/{projectid}/diagrams/all/details/]

### Get details of all diagrams [GET]
Returns the a list of Diagram properties (without Geometries) for all the diagrams in the project. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string


+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "sysid": 1,
                "rank": 1,
                "id": 1,
                "description": "testing",
                "length": 0,
                "area": 16791.702,
                "cost_override": 100,
                "cost_override_type": "total",        
                "building_data": {
                    "storeys_above_ground": 14,
                    "storeys_below_ground": 0
                },
                "notes": "",        
                "additional_metadata": {},
                "created_at": "2018-08-26 20:57:02",
                "start_date": "2020-02-26",
                "end_date": "2022-02-22"
              },
              {
                "sysid": 1,
                "rank": 2,
                "id": 2,
                "description": "new polciy",
                "length": 0,
                "area": 16791.702,
                "cost_override": 0,
                "cost_override_type": "total",        
                "building_data": {
                    "storeys_above_ground": 14,
                    "storeys_below_ground": 0
                },
                "notes": "",       
                "additional_metadata": {},            
                "created_at": "2018-08-26 20:57:02",
                "start_date": "2020-02-26",
                "end_date": "2022-02-22"
              },
              {
                "sysid": 45,
                "rank": 2,
                "id": 2,
                "description": "test",
                "type": "project",
                "length": 0.0,
                "area": 5691.222,
                "fundingtype": "public",
                "cost_override_type": "per hectare.",
                "cost_override": 0.0,
                "created_at": "2020-08-24 19:25:57",
                "building_data": {},
                "notes": "",
                "additional_metadata": {},,
                "start_date": "2020-02-26",
                "end_date": "2022-02-22",
                "additional_metadata": {},
                "tag_codes": "wp6sw"
              }
            ]


## Diagram Detail [/projects/{projectid}/diagrams/{diagramid}/]

### Get details of a diagram [GET]
Returns the a GeoJSON feature collection geometry of the diagram that is passed in the diagram ID.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
            "geojson": {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "areatype": "project",
                            "color": "#ffcc00",
                            "systag": "Small buildings, low density housing",
                            "diagramid": 155,
                            "sysname": "LDH",
                            "position": "LDH 1",
                            "author": "ufeusr1"
                        },
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        -6.255365,
                                        53.327752
                                    ],
                                    [
                                        -6.255408,
                                        53.32691
                                    ],
                                    [
                                        -6.254233,
                                        53.326839
                                    ],
                                    [
                                        -6.254147,
                                        53.327739
                                    ],
                                    [
                                        -6.255365,
                                        53.327752
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        }
                    }
                ]
            },
            "sysid": 48,
            "rank": 2,
            "id": 2,
            "description": "new park",
            "type": "project",
            "length": 0.0,
            "area": 7733.067,
            "fundingtype": "public",
            "cost_override_type": "per hectare.",
            "cost_override": 0.0,
            "created_at": "2020-03-06 12:50:32",
            "start_date": "2020-02-26",
            "end_date": "2022-02-22",
            "notes": "",                  
            "additional_metadata": {}, 
            "building_data": {
                "storeys_above_ground": 95,
                "storeys_below_ground": -10
            },
            "tag_codes": "wp6sw",
            "flat_geobuf_url":"",
            "external_geometries":""
        }


### Bulk Update properties of a diagram [POST]
Bulk update selected properties of a diagram. Currently, five properties are supported: 
- Tags (tag_codes): List of Code ID strings
- Additional Metadata (additional_metadata): Free form JSON object
- Diagram Title (title): String
- Start Date (start_date): Time represented as simplified extended ISO format (ISO 8601), which is always 24 or 27 characters long (YYYY-MM-DDTHH:mm:ss.sssZ or ±YYYYYY-MM-DDTHH:mm:ss.sssZ
- End Date (end_date): Time represented as simplified extended ISO format (ISO 8601), which is always 24 or 27 characters long (YYYY-MM-DDTHH:mm:ss.sssZ or ±YYYYYY-MM-DDTHH:mm:ss.sssZ

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request (application/json)

    A object called "additional_metadata" must be provided

    + Tags `tag_codes`: List of Code ID strings
    + Additional Metadata `additional_metadata`: Free form JSON object
    + Diagram Title `title`: String
    + Start Date `start_date`: Time represented as simplified extended ISO format (ISO 8601), which is always 24 or 27 characters long (YYYY-MM-DDTHH:mm:ss.sssZ or ±YYYYYY-MM-DDTHH:mm:ss.sssZ
    + End Date `end_date`: Time represented as simplified extended ISO format (ISO 8601), which is always 24 or 27 characters long (YYYY-MM-DDTHH:mm:ss.sssZ or ±YYYYYY-MM-DDTHH:mm:ss.sssZ


    + Headers

            Authorization: Token ABC123
            
    + Body


            {"additional_metadata":{"id":"ca665187-6cfd-40a2-8cbf-3247d73c55f3"}, "tag_codes": ["1.3.4"], "title": "New Title","start_date": "2020-01-28T00:00:00.000Z","end_date": "2021-01-28T00:00:00.000Z"}
         
            
+ Response 200 (application/json)

        {
            "status": "Diagram properties updated successfully"
        }

+ Response 400 (application/json)

    
        {
            "status": "Processing unsuccessful. Tag ID provided refers to a tag not in the project."
        }
    
## Diagram Tags Detail [/projects/{projectid}/diagrams/{diagramid}/tags/]

### Get all Tags associated with a diagram [GET]
Returns the a JSON detailing the tags associated / linkedbo a diagram for the that is passed in the diagram ID.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    

+ Request (application/json)
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
            {
                "id": "a95fcf52-b2df-46a8-9f70-dab4e7eebaa9",
                "tag": "house",
                "slug": "house",
                "code": "1.3.4",
                "diagrams":[23,22]
            }
        ]

### Update all Tags associated with a diagram [POST]
Updates the tags associated with a diagram by assigning the  the tag IDs passed in the request body.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
    + Body


            ["8a0abf8b-5bbc-4a1b-ac80-872291daed9f"]
         
            
+ Response 200 (application/json)

        {"status":"Tag updated successfully"}

+ Response 400 (application/json)

    
        {
            "status": "Processing unsuccessful. Tag ID provided refers to a tag not in the project."
        }
    

## Diagram Tags Detail [/projects/{projectid}/diagrams/{diagramid}/tags/codes/]

### Get all Tags associated with a diagram (Tag code) [GET]
Returns the a JSON detailing the tags associated / linked to a diagram for the that is passed in the diagram ID.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer

+ Request (application/json)
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
            {
                "id": "a95fcf52-b2df-46a8-9f70-dab4e7eebaa9",
                "tag": "house",
                "slug": "house",
                "code": "1.3.4",                
                "diagrams":[23,22]
            }
        ]

### Update Tags associated with a diagram (Tag code) [POST]
Updates the tags associated with a diagram by assigning the  the tag code passed in the request body.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
    + Body


            ["1.3.4"]
         
            
+ Response 200 (application/json)

        {"status":"Tag updated successfully"}

+ Response 400 (application/json)

    
        {
            "status": "Processing unsuccessful. Tag ID provided refers to a tag not in the project."
        }
    



## Diagram Notes Detail [/projects/{projectid}/diagrams/{diagramid}/notes/]

### Get all Notes associated with a diagram [GET]
Returns the a JSON object detailing the notes associated / linked to a diagram that is passed in the diagram ID parameter.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    

+ Request (application/json)
    + Headers

            Authorization: Token ABC123
            
            
+ Response 200 (application/json)

    
        {
            "id": "54",
            "notes": "This housing project is already funded"
        }

### Update all Notes associated with a diagram [POST]
Returns the a JSON detailing the notes associated / linked to a diagram that is passed in the diagram ID parameter.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
                 
    + Body

            {"notes":"This is a updated note for the diagram"}
         
       
+ Response 200 (application/json)


        {
            "id": "54",
            "notes": "This is a updated note for the diagram"
        }


## Diagram Last Changed [/projects/{projectid}/diagrams/{diagramid}/changeid/]

### Get details last modified timestamp of a diagram [GET]
Returns the a hash of the last modified date, can be used to see if a diagram has changed from the last time it was accessed.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "changehash": "57266cf8"
        }


## User Diagrams Selections [/projects/{projectid}/members/{username}/diagrams/]

### Get details diagrams selected by a user [GET]
Returns the geometry of the diagrams selected by the user for the particular project. The user has to be a member of the project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + username: ufeusr1 (string) - The username of a user who is a member of the project

+ Response 200 (application/json)

          {
              "type": "FeatureCollection",
              "features": [
                  {
                      "type": "Feature",
                      "properties": {
                          "areatype": "project",
                          "color": "#da801c",
                          "volume_information": {
                              "min_height": 0,
                              "max_height": 45.0,
                            },
                          "sysid": 26,
                          "diagramid": 50,
                          "sysname": "MIX",
                          "author": "ufeusr1",
                          "rgbcolor": "[218, 128, 28]",
                          "description": "new housing"
                      },
                      "geometry": {
                          "coordinates": [
                              [
                                  [
                                      -6.253425,
                                      53.326606
                                  ],
                                  [
                                      -6.253683,
                                      53.326452
                                  ],
                                  [
                                      -6.253415,
                                      53.326372
                                  ],
                                  [
                                      -6.253184,
                                      53.326285
                                  ],
                                  [
                                      -6.253002,
                                      53.326292
                                  ],
                                  [
                                      -6.252868,
                                      53.32642
                                  ],
                                  [
                                      -6.253018,
                                      53.326516
                                  ],
                                  [
                                      -6.253195,
                                      53.3266
                                  ],
                                  [
                                      -6.253425,
                                      53.326606
                                  ]
                              ]
                          ],
                          "type": "Polygon"
                      }
                  },
                  {
                      "type": "Feature",
                      "properties": {
                          "areatype": "project",
                          "color": "#ffcc00",
                          "volume_information": {
                              "min_height": 0,
                              "max_height": 63.0,
                            },
                          "sysid": 25,
                          "diagramid": 95,
                          "sysname": "LDH",
                          "author": "ufeusr1",
                          "rgbcolor": "[255, 204, 0]",
                          "description": "test2"
                      },
                      "geometry": {
                          "coordinates": [
                              [
                                  [
                                      -6.255169,
                                      53.324732
                                  ],
                                  [
                                      -6.248817,
                                      53.325347
                                  ],
                                  [
                                      -6.251221,
                                      53.323553
                                  ],
                                  [
                                      -6.255169,
                                      53.324732
                                  ]
                              ]
                          ],
                          "type": "Polygon"
                      }
                  }
              ]
          }



## Group Thumbnails API
Resources related to images of diagrams within a project on Geodesignhub.

## Generate All Diagrams Thumbnail [/projects/{projectid}/diagrams/all/generate_thumbnails/]

### Generate thumbnails of all diagrams in a project [GET]
Returns a list of urls where you can download generated diagram thumbnails, useful for generating all diagram thumbnails in a project. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
            "message": "Thumbnails Generated",
            "results_url": [
                "/api/v1/projects/b522ccca68f6decf/diagrams/138/thumbnail/d04c4c17-ff04-4354-8479-1de67b437523/",
                "/api/v1/projects/b522ccca68f6decf/diagrams/139/thumbnail/d04c4c17-ff04-4354-8479-1de67b437523/",
                "/api/v1/projects/b522ccca68f6decf/diagrams/140/thumbnail/d04c4c17-ff04-4354-8479-1de67b437523/",
                "/api/v1/projects/b522ccca68f6decf/diagrams/141/thumbnail/d04c4c17-ff04-4354-8479-1de67b437523/",
                "/api/v1/projects/b522ccca68f6decf/diagrams/142/thumbnail/d04c4c17-ff04-4354-8479-1de67b437523/",
            ]
        }


## Generate Diagram Thumbnail [/projects/{projectid}/diagrams/{diagramid}/generate_thumbnail/]

### Generate a thumbnail of a single diagram [GET]
Returns a uuid of the job that generates a thumbnail image, can be used to download a PNG image of a diagram.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "message": "Task Generated",
          "results_url":"/api/v1/projects/5c84b38a16ebeed0/diagrams/12/thumbnail/70c5f4e6-b656-4412-8ee5-16c30de0509f"
        }

## Get Diagram Thumbnail [/projects/{projectid}/diagrams/{diagramid}/thumbnail/{jobid}/]

### Download a thumbnail of a diagram [GET]
Returns a PNG image of the diagram thumbnail that was generated earlier, a PNG image is retured as a response

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    + jobid: 8f99a13f-04ae-48e3-8f51-40d967ec38ca (uuid) - The ID of the job as given by the earlier generate 
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (image/png)
    + Headers

            Content-Length: 26572



## Group Systems API
Resources related to systems within a project on Geodesignhub.

## Systems Collection [/projects/{projectid}/systems/]

### List project systems [GET]
Returns basic system details for the project with ID and system name. For futher details, look up the systems/{systemid} endpoint

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
          {
            "id": 1,
            "sysname": "LDH",
            "syscolor": "#071ac8"
          },
          {
            "id": 2,
            "sysname": "HDH",
            "syscolor": "#fc1999"
          },
          {
            "id": 3,
            "sysname": "AG",
            "syscolor": "#18a81b"
          },
          {
            "id": 15,
            "sysname": "S4",
            "syscolor": "#0a650c"
          }
        ]

## System Detail [/projects/{projectid}/systems/{sysid}/]

### Get system details [GET]
Returns the details of that system such as system name, type, etc.
+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer

+ Response 200 (application/json)

        {
          "id": 1,
          "sysname": "LDH",
          "verbose_description":"Low Density Housing",
          "syscolor": "#071ac8",
          "systag": "SMB",
          "syscost": 100000,
          "sysbudget": 2000000,
          "current_ha": 0.0,
          "target_ha": 5.0
        }


## System Diagrams [/projects/{projectid}/systems/{sysid}/diagrams/]

### Get system diagrams [GET]
Returns the IDs of all the diagrams contained in that system
+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer

+ Response 200 (application/json)

        {
          "diagrams": [
            5,
            7,
            13,
            15,
            18
          ]
        }
## System Evaluation [/projects/{projectid}/systems/{sysid}/evaluation/]

### Get system evaluation [GET]
Returns a GeoJSON feature collection for the evaluation map for this system.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "geojson": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ],
                      [
                        -0.208740234375,
                        51.53480425870272
                      ],
                      [
                        -0.204620361328125,
                        51.524979430024345
                      ],
                      [
                        -0.204620361328125,
                        51.514725174257
                      ],
                      [
                        -0.2066802978515625,
                        51.505750806437874
                      ],
                      [
                        -0.218353271484375,
                        51.497202145853784
                      ],
                      [
                        -0.230712890625,
                        51.49164465653034
                      ],
                      [
                        -0.24307250976562497,
                        51.48822432632349
                      ],
                      [
                        -0.2767181396484375,
                        51.48822432632349
                      ],
                      [
                        -0.2877044677734375,
                        51.49078959803455
                      ],
                      [
                        -0.292510986328125,
                        51.494637234974235
                      ],
                      [
                        -0.2931976318359375,
                        51.5091698216777
                      ],
                      [
                        -0.2849578857421875,
                        51.5283970022217
                      ],
                      [
                        -0.276031494140625,
                        51.536512708129735
                      ],
                      [
                        -0.2684783935546875,
                        51.540783551151826
                      ],
                      [
                        -0.22384643554687497,
                        51.54206472590799
                      ],
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ],
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "red",
                  "color": "#f03b20"
                }
              },
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ],
                      [
                        -0.13458251953125,
                        51.53864817973767
                      ],
                      [
                        -0.12153625488281249,
                        51.52882418070984
                      ],
                      [
                        -0.11947631835937499,
                        51.52198884392169
                      ],
                      [
                        -0.11947631835937499,
                        51.50959718054336
                      ],
                      [
                        -0.12359619140625,
                        51.50062180251775
                      ],
                      [
                        -0.1297760009765625,
                        51.49634719159713
                      ],
                      [
                        -0.1593017578125,
                        51.497202145853784
                      ],
                      [
                        -0.16754150390625,
                        51.49848454717058
                      ],
                      [
                        -0.1737213134765625,
                        51.5027589576403
                      ],
                      [
                        -0.1764678955078125,
                        51.51045188624856
                      ],
                      [
                        -0.17578125,
                        51.519425328081894
                      ],
                      [
                        -0.1627349853515625,
                        51.53523137707124
                      ],
                      [
                        -0.1544952392578125,
                        51.5399294146093
                      ],
                      [
                        -0.1483154296875,
                        51.540783551151826
                      ],
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ],
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "green",
                  "color": "#74c476"
                }
              },
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ],
                      [
                        -0.050811767578125,
                        51.55999738544502
                      ],
                      [
                        -0.0439453125,
                        51.55231282551346
                      ],
                      [
                        -0.03776550292968749,
                        51.53523137707124
                      ],
                      [
                        -0.0384521484375,
                        51.5283970022217
                      ],
                      [
                        -0.04119873046875,
                        51.524552215462975
                      ],
                      [
                        -0.0446319580078125,
                        51.52198884392169
                      ],
                      [
                        -0.0501251220703125,
                        51.520707104039275
                      ],
                      [
                        -0.05699157714843749,
                        51.520707104039275
                      ],
                      [
                        -0.06797790527343749,
                        51.524124996893335
                      ],
                      [
                        -0.06866455078125,
                        51.53523137707124
                      ],
                      [
                        -0.06591796875,
                        51.54121061341155
                      ],
                      [
                        -0.07415771484375,
                        51.55487448974971
                      ],
                      [
                        -0.06797790527343749,
                        51.56255861691012
                      ],
                      [
                        -0.0624847412109375,
                        51.56426602441386
                      ],
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ],
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "green",
                  "color": "#74c476"
                }
              }
            ]
          },
          "sysid": 1
        }


## Add Project Diagram to System [/projects/{projectid}/systems/{sysid}/add/project/]

### Add a project diagram [POST]
Add a new diagram to a system

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer


    
+ Request (application/json)
    A diagram must contain the following details

    + `geometry` A GeoJSON FeatureCollection object
    + `featuretype` Whether the diagram is a line or a polygon
    + `description` Title of the diagram
    + `fundingtype` Specify the funding type of the diagram:
        - pu - Public
        - pp - Public + Private
        - pr - Private 
        - bu - Budgeted

    + Headers

            Authorization: Token ABC123
            
    + Body
    
            {
                "geometry": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {},
                          "geometry": {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  -0.09307265281677245,
                                  51.516194024429446
                                ],
                                [
                                  -0.09310483932495117,
                                  51.51524595382876
                                ],
                                [
                                  -0.09136676788330077,
                                  51.51502562473659
                                ],
                                [
                                  -0.09100198745727538,
                                  51.515639872882986
                                ],
                                [
                                  -0.09152770042419434,
                                  51.51636093622468
                                ],
                                [
                                  -0.09307265281677245,
                                  51.51622740683744
                                ],
                                [
                                  -0.09307265281677245,
                                  51.516194024429446
                                ]
                              ]
                            ]
                          }
                        }
                      ]
                    },
                "featuretype": "polygon",
                "description": "A new shopping mall", 
                "fundingtype":"pu"
            }
            
+ Response 200 (application/json)

        {
            "diagram_id":"2321",
            "grid_location":"TRANS 1",
            "status":"Successfully added diagram to the project"
        }

## Add Policy Diagram to System [/projects/{projectid}/systems/{sysid}/add/policy/]

### Add a policy diagram [POST]
Add a new diagram to a system

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a policy in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer

    
+ Request (application/json)

    A diagram must contain the following details

    + `geometry` A GeoJSON FeatureCollection object
    + `featuretype` Whether the diagram is a line or a polygon
    + `description` Title of the diagram
    + `fundingtype` Specify the funding type of the diagram:
        - pu - Public
        - pp - Public + Private
        - pr - Private 
        - bu - Budgeted

    + Headers

            Authorization: Token ABC123
            
    + Body
    
            {
                "geometry": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "properties": {},
                          "geometry": {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  -0.10273933410644531,
                                  51.5111730317151
                                ],
                                [
                                  -0.10273933410644531,
                                  51.523003529077705
                                ],
                                [
                                  -0.08351325988769531,
                                  51.523003529077705
                                ],
                                [
                                  -0.08351325988769531,
                                  51.5111730317151
                                ],
                                [
                                  -0.10273933410644531,
                                  51.5111730317151
                                ]
                              ]
                            ]
                          }
                        }
                      ]
                    },
                "featuretype": "polygon",
                "description": "Low taxation policy",
                "fundingtype":"pu"
            }
            
+ Response 200 (application/json)

        {
            "diagram_id": "2042",
            "grid_location":"TRANS 1",
            "status":"Successfully added diagram to the project"
        }

## Add External Project Diagram [/projects/{projectid}/systems/{sysid}/add/external/project/]

### Add a external project diagram [POST]
Add a new diagram to a system with external geometries

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer


    
+ Request (application/json)
    A diagram must contain the following details

    + `flat_geobuf_url` A url to a Flatgeobuf (FGB) file
    + `featuretype` Whether the diagram is a line or a polygon
    + `description` Title of the diagram
    + `fundingtype` Specify the funding type of the diagram:
        - pu - Public
        - pp - Public + Private
        - pr - Private 
        - bu - Budgeted

    + Headers

            Authorization: Token ABC123
            
    + Body
    
            {
                "flat_geobuf_url": "https://s3.amazonaws.com/my_fgbfile.fgb",
                "featuretype": "polygon",
                "description": "A new shopping mall", 
                "fundingtype":"pu"
            }
            
+ Response 200 (application/json)

        {
            "diagram_id":"2321",
            "grid_location":"TRANS 1",
            "status":"Successfully added diagram to the project"
        }


## Add External Policy Diagram [/projects/{projectid}/systems/{sysid}/add/external/policy/]

### Add a external policy diagram [POST]
Add a new diagram to a system with external geometries

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer


    
+ Request (application/json)
    A diagram must contain the following details

    + `flat_geobuf_url` A url to a Flatgeobuf (FGB) file
    + `featuretype` Whether the diagram is a line or a polygon
    + `description` Title of the diagram
    + `fundingtype` Specify the funding type of the diagram:
        - pu - Public
        - pp - Public + Private
        - pr - Private 
        - bu - Budgeted

    + Headers

            Authorization: Token ABC123
            
    + Body
    
            {
                "flat_geobuf_url": "https://s3.amazonaws.com/my_fgbfile.fgb",
                "featuretype": "polygon",
                "description": "A new shopping mall", 
                "fundingtype":"pu"
            }
            
+ Response 200 (application/json)

        {
            "diagram_id":"2321",
            "grid_location":"TRANS 1",
            "status":"Successfully added diagram to the project"
        }


## User System Diagram Selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/]

### Get diagrams selected in a system by user [GET]
Returns the geometry of the diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project

+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "type": "FeatureCollection",
              "features": [
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ],
                        [
                          -0.07432937622070312,
                          51.50927666176991
                        ],
                        [
                          -0.06299972534179688,
                          51.505537109466715
                        ],
                        [
                          -0.06282806396484375,
                          51.50468231156
                        ],
                        [
                          -0.06420135498046875,
                          51.504148054725356
                        ],
                        [
                          -0.07656097412109375,
                          51.50607135001545
                        ],
                        [
                          -0.08737564086914062,
                          51.5089561407416
                        ],
                        [
                          -0.09990692138671875,
                          51.51066556016948
                        ],
                        [
                          -0.1078033447265625,
                          51.51087923308819
                        ],
                        [
                          -0.10951995849609375,
                          51.51525930707282
                        ],
                        [
                          -0.11484146118164062,
                          51.522522891558964
                        ],
                        [
                          -0.11243820190429688,
                          51.522629700334875
                        ],
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ],
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {
                    "areatype": "policy",
                    "color": "#071ac8",
                    "systag": "Small buildings, low density housing"
                  }
                },
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -0.09514331817626952,
                          51.51555307745177
                        ],
                        [
                          -0.09394168853759766,
                          51.51523260058079
                        ],
                        [
                          -0.08668899536132812,
                          51.51549966479653
                        ],
                        [
                          -0.0856161117553711,
                          51.515659902574384
                        ],
                        [
                          -0.08085250854492186,
                          51.51547295844541
                        ],
                        [
                          -0.08020877838134766,
                          51.51531272000991
                        ],
                        [
                          -0.07797718048095703,
                          51.51437798456801
                        ],
                        [
                          -0.07746219635009766,
                          51.51395067054886
                        ],
                        [
                          -0.07741928100585936,
                          51.51352335252112
                        ],
                        [
                          -0.07784843444824219,
                          51.5129891993494
                        ],
                        [
                          -0.07973670959472656,
                          51.51280224425956
                        ],
                        [
                          -0.0832986831665039,
                          51.51309603048481
                        ],
                        [
                          -0.08703231811523438,
                          51.51309603048481
                        ],
                        [
                          -0.08870601654052734,
                          51.5129891993494
                        ],
                        [
                          -0.09029388427734374,
                          51.51325627671818
                        ],
                        [
                          -0.09162425994873047,
                          51.51365688983539
                        ],
                        [
                          -0.0960874557495117,
                          51.51456493319091
                        ],
                        [
                          -0.09724617004394531,
                          51.514992241447835
                        ],
                        [
                          -0.0972890853881836,
                          51.51568660881589
                        ],
                        [
                          -0.09552955627441406,
                          51.51571331504175
                        ],
                        [
                          -0.09514331817626952,
                          51.51555307745177
                        ],
                        [
                          -0.09514331817626952,
                          51.51555307745177
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {
                    "areatype": "project",
                    "color": "#071ac8",
                    "systag": "Small buildings, low density housing"
                  }
                }
              ]
            }

## User System Projects Diagram Selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/projects/]

### Get project diagrams selected in a system by user [GET]
Returns the geometry only of project diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project
    
+ Request
    + Headers

            Authorization: Token ABC123
            

+ Response 200 (application/json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.09514331817626952,
                      51.51555307745177
                    ],
                    [
                      -0.09394168853759766,
                      51.51523260058079
                    ],
                    [
                      -0.08668899536132812,
                      51.51549966479653
                    ],
                    [
                      -0.0856161117553711,
                      51.515659902574384
                    ],
                    [
                      -0.08085250854492186,
                      51.51547295844541
                    ],
                    [
                      -0.08020877838134766,
                      51.51531272000991
                    ],
                    [
                      -0.07797718048095703,
                      51.51437798456801
                    ],
                    [
                      -0.07746219635009766,
                      51.51395067054886
                    ],
                    [
                      -0.07741928100585936,
                      51.51352335252112
                    ],
                    [
                      -0.07784843444824219,
                      51.5129891993494
                    ],
                    [
                      -0.07973670959472656,
                      51.51280224425956
                    ],
                    [
                      -0.0832986831665039,
                      51.51309603048481
                    ],
                    [
                      -0.08703231811523438,
                      51.51309603048481
                    ],
                    [
                      -0.08870601654052734,
                      51.5129891993494
                    ],
                    [
                      -0.09029388427734374,
                      51.51325627671818
                    ],
                    [
                      -0.09162425994873047,
                      51.51365688983539
                    ],
                    [
                      -0.0960874557495117,
                      51.51456493319091
                    ],
                    [
                      -0.09724617004394531,
                      51.514992241447835
                    ],
                    [
                      -0.0972890853881836,
                      51.51568660881589
                    ],
                    [
                      -0.09552955627441406,
                      51.51571331504175
                    ],
                    [
                      -0.09514331817626952,
                      51.51555307745177
                    ],
                    [
                      -0.09514331817626952,
                      51.51555307745177
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "color": "#071ac8",
                "systag": "Small buildings, low density housing"
              }
            }
          ]
        }


## User System Policies Diagram Selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/policies/]

### Get geometries of policy diagrams selected in a system by user [GET]
Returns the geometry only of policy diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project
    
+ Request
    + Headers

            Authorization: Token ABC123

+ Response 200 (application/json)

            {
              "type": "FeatureCollection",
              "features": [
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ],
                        [
                          -0.07432937622070312,
                          51.50927666176991
                        ],
                        [
                          -0.06299972534179688,
                          51.505537109466715
                        ],
                        [
                          -0.06282806396484375,
                          51.50468231156
                        ],
                        [
                          -0.06420135498046875,
                          51.504148054725356
                        ],
                        [
                          -0.07656097412109375,
                          51.50607135001545
                        ],
                        [
                          -0.08737564086914062,
                          51.5089561407416
                        ],
                        [
                          -0.09990692138671875,
                          51.51066556016948
                        ],
                        [
                          -0.1078033447265625,
                          51.51087923308819
                        ],
                        [
                          -0.10951995849609375,
                          51.51525930707282
                        ],
                        [
                          -0.11484146118164062,
                          51.522522891558964
                        ],
                        [
                          -0.11243820190429688,
                          51.522629700334875
                        ],
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ],
                        [
                          -0.1064300537109375,
                          51.5212411667077
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {
                    "areatype": "policy",
                    "color": "#071ac8",
                    "systag": "Small buildings, low density housing"
                  }
                }
              ]
            }

## Group Change Teams API
A set of resources related to Change teams within a Geodesignhub Project

## Change Team Collection [/projects/{projectid}/cteams/]

### List all change teams [GET]
Return all the change teams for that project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 1,
                "title": "DEV"
              },
              {
                "id": 4,
                "title": "ECON"
              }
            ]  



## Change Team Designs [/projects/{projectid}/cteams/{cteamid}/]

### List designs of a change team [GET]
Returns a list of synthesis created by this change team

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer

+ Response 200 (application/json)

        {
          "synthesis": [
            {
              "cteamid": 1,
              "creationdate": "2016-04-28T22:24:21.968000",
              "id": "PHBN4B9H1KDBHKPK",
              "description": "v3"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-04-30T13:36:54.304000",
              "id": "9F79977KO8KB35GM",
              "description": "ve3"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-04-30T13:39:01.860000",
              "id": "0FN94DJH903ONLH4",
              "description": "e2"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:34:27.744000",
              "id": "7N1LP9E4E2OG81L8",
              "description": "new d"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:36:05.462000",
              "id": "BE52E36N507DIBFF",
              "description": "old design"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:36:33.845000",
              "id": "82F3ADJ2P67FCI8O",
              "description": "v5"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:40:15.976000",
              "id": "9P45D3EA03ON7AL9",
              "description": "v09"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-06-09T20:50:11.149083",
              "id": "EMHK5NP4K47OMHCB",
              "description": "v1"
            }
          ]
        }


## Change Team Designs [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/details/]

### List designs of a change team [GET]
Returns a list of synthesis created by this change team

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer

+ Response 200 (application/json)

        {
            "description": "v3",
            "creationdate": "2024-05-30T16:45:35.281332Z",
            "id": "7GXZPB4DW322NEEY"
        }


## Change Team Members [/projects/{projectid}/cteams/{cteamid}/members/]

### List members of a change team  [GET]
Returns a list of usernames of users who are members of this change team.
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer

+ Response 200 (application/json)

        {
          "members": [
            "ufeusr1"
          ]
        }
        

## Change Team Priorities [/projects/{projectid}/cteams/{cteamid}/priorities/]

### List change team priorities  [GET]
Returns a object that details the system priorities and rank for this change team.
    
+ Request
    + Headers

[...]
