FORMAT: 1A
HOST: https://www.geodesignhub.com/api/v1

# Geodesign Hub API

Geodesign Hub API exposes a number of functionalities of the tool for developers to build applications and plugins with the tool. The API is a JSON-based REST API and uses standard HTTP response codes to indicate API errors.


#### Token Authentication
Geodesign Hub exposes project information via the API and is linked to user accounts via Token Authentication. Since the token is linked to the user, all the projects that the user is part of are accessible using the token. Currently, tokens have an expiry of six months after which a new token can be issued.

You can get your Token by opening the [API page](https://www.geodesignhub.com/api/token/) on Geodesign Hub.


#### Access
wGeodesign Hub supports only **https://** connections via the API. ``http://`` connections will be given a automatic HTTP 301 response.


#### Pagination
Geodesign Hub API responses are generally paginated. The default page size is 10; you can alter this by adding the ``page_size`` parameter to your request.


#### Response Codes
The API uses standard HTTP response codes to communicate the status of the request. In general, 2xx codes signify success and 4xx codes signify failure, and these codes are generally associated with an invalid parameter being provided in the request. A 5xx code is a general server failure on our side. Please contact our support team if you encounter 5xx errors.

## Group Projects API
Resources related to projects on Geodesign Hub.

## Projects Collection [projects/]

### List All Projects [GET]
Returns a list of projects that has the current user as a member.

+ Response 200 (application/json)
        
        [
          {
            "id": "5c84b38a16ebeed0",
            "projecttitle": "Cagliari geodesign",
            "projectdesc": "Alternative futures for Metro Cagliari"
          },
          {
            "id": "f05bf015a514a67c",
            "projecttitle": "Phoenix Geodesign",
            "projectdesc": "Alternative futures for Phoenix, Arizona"
          }
        ]


## Project Detail [/projects/{projectid}/]

### Get a single project [GET]
Returns the title and description of the selected project. Project name is a sixteen character hash of the project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "id": "5c84b38a16ebeed0",
              "projecttitle": "lego geodesign",
              "projectdesc": "lgd"
            }

## Project Members [/projects/{projectid}/members/]

### List members of a project [GET]
Returns a list of all the usernames that are a part of the project.


+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string

+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "members": [
            {
              "username": "ufeusr1",
              "id": 1
            },
            {
              "username": "ufeusr2",
              "id": 2
            },
            {
              "username": "ufeusr3",
              "id": 4
            }
          ]
        }

## Project Study Area Bounds [/projects/{projectid}/bounds/]

### Get project bounds  [GET]
Returns a string with bounding box for the project study area coordinates in a `southwest_lng,southwest_lat,northeast_lng,northeast_lat` format.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "id": 1,
          "mapbounds": "-0.259552001953125,51.4398847487041,-0.053558349609375,51.568107456894005"
        }


## Project Constraints Geometry [/projects/{projectid}/constraints/]

### Get project constraints  [GET]
Returns a GeoJSON geometry of constraints set within the project area.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "geojson": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.11260986328124999,
                        51.48651406499528
                      ],
                      [
                        -0.1702880859375,
                        51.473257364513714
                      ],
                      [
                        -0.1847076416015625,
                        51.46812470399791
                      ],
                      [
                        -0.17990112304687497,
                        51.50062180251775
                      ],
                      [
                        -0.18745422363281247,
                        51.5091698216777
                      ],
                      [
                        -0.1888275146484375,
                        51.5177162373547
                      ],
                      [
                        -0.17852783203125,
                        51.52327054772943
                      ],
                      [
                        -0.17234802246093747,
                        51.52327054772943
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "constraints",
                  "author": "ufeusr1",
                  "color": "#343434",
                  "diagramid": 2,
                  "sysid": 1
                }
              }
            ]
          },
          "sysid": 1,
          "rank": 0,
          "id": 0,
          "description": "No Description Added. Please add one."
        }

## Project Boundaries Geometry [/projects/{projectid}/boundaries/]

### Get project boundaries  [GET]
Returns a GeoJSON geometry of the first boundary set within the project area.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "geojson": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.11260986328124999,
                        51.48651406499528
                      ],
                      [
                        -0.1702880859375,
                        51.473257364513714
                      ],
                      [
                        -0.1847076416015625,
                        51.46812470399791
                      ],
                      [
                        -0.17990112304687497,
                        51.50062180251775
                      ],
                      [
                        -0.18745422363281247,
                        51.5091698216777
                      ],
                      [
                        -0.1888275146484375,
                        51.5177162373547
                      ],
                      [
                        -0.17852783203125,
                        51.52327054772943
                      ],
                      [
                        -0.17234802246093747,
                        51.52327054772943
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ],
                      [
                        -0.13458251953125,
                        51.49891200625809
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "constraints",
                  "author": "ufeusr1",
                  "color": "#343434",
                  "diagramid": 2,
                  "sysid": 1
                }
              }
            ]
          },
          "sysid": 1,
          "rank": 0,
          "id": 0,
          "description": "No Description Added. Please add one."
        }

## Project Second Boundaries Geometry [/projects/{projectid}/secondboundaries/]

### Get project boundaries  [GET]
Returns a GeoJSON geometry of second boundaries set within the project area. (Upto two boundaries can be set in a project)

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "geojson": {
                "type": "FeatureCollection",
                "features": [
                  {
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -0.07553100585937499,
                            51.536085601784755
                          ],
                          [
                            -0.042572021484375,
                            51.52156160130253
                          ],
                          [
                            -0.0336456298828125,
                            51.51344322994464
                          ],
                          [
                            -0.030212402343749997,
                            51.50660558430045
                          ],
                          [
                            -0.0308990478515625,
                            51.49848454717058
                          ],
                          [
                            -0.034332275390625,
                            51.49677467073
                          ],
                          [
                            -0.1174163818359375,
                            51.49634719159713
                          ],
                          [
                            -0.1531219482421875,
                            51.49335472541077
                          ],
                          [
                            -0.1737213134765625,
                            51.48993452350154
                          ],
                          [
                            -0.1393890380859375,
                            51.512588580360244
                          ],
                          [
                            -0.10505676269531249,
                            51.53138716746968
                          ],
                          [
                            -0.0926971435546875,
                            51.536512708129735
                          ],
                          [
                            -0.0803375244140625,
                            51.53950234032649
                          ],
                          [
                            -0.07553100585937499,
                            51.536085601784755
                          ],
                          [
                            -0.07553100585937499,
                            51.536085601784755
                          ]
                        ]
                      ]
                    },
                    "type": "Feature",
                    "properties": {
                      "areatype": "boundaries2",
                      "author": "ufeusr1",
                      "color": "#b2df8a",
                      "diagramid": 4,
                      "sysid": 1,
                      "bname": "Boundary 1"
                    }
                  }
                ]
              },
              "sysid": 1,
              "rank": 0,
              "id": 0,
              "description": "No Description Added. Please add one."
            }


## Group Diagrams API
Resources related to diagrams on Geodesign Hub.

## Diagrams Collection [/projects/{projectid}/diagrams/]

### List project diagrams  [GET]
Returns all the diagrams for the project by ID and description.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 7,
                "worlddescription": "ase",
                "rank": 1,
                "sysid": 2
              },
              {
                "id": 8,
                "worlddescription": "ce",
                "rank": 1,
                "sysid": 1
              },
              {
                "id": 9,
                "worlddescription": "32",
                "rank": 2,
                "sysid": 1
              },
              {
                "id": 10,
                "worlddescription": "ce3",
                "rank": 3,
                "sysid": 1
              },
              {
                "id": 11,
                "worlddescription": "54",
                "rank": 3,
                "sysid": 2
              },
              {
                "id": 12,
                "worlddescription": "656",
                "rank": 4,
                "sysid": 1
              },
              {
                "id": 13,
                "worlddescription": "fe2",
                "rank": 4,
                "sysid": 2
              },
              {
                "id": 14,
                "worlddescription": "6y",
                "rank": 5,
                "sysid": 1
              },
              {
                "id": 16,
                "worlddescription": "e32",
                "rank": 1,
                "sysid": 3
              },
              {
                "id": 17,
                "worlddescription": "e32",
                "rank": 3,
                "sysid": 3
              }
            ]


## Diagram Detail [/projects/{projectid}/diagrams/{diagramid}/]

### Get details of a diagram  [GET]
Returns the a GeoJSON feature collection geometry of the diagram that is passed in the diagram ID.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "geojson": {
                "type": "FeatureCollection",
                "features": [
                  {
                    "geometry": {
                      "type": "Polygon",
                      "coordinates": [
                        [
                          [
                            -0.23380279541015625,
                            51.484376148122536
                          ],
                          [
                            -0.23139953613281247,
                            51.48352095330697
                          ],
                          [
                            -0.22762298583984372,
                            51.47817562234123
                          ],
                          [
                            -0.22762298583984372,
                            51.47560964094057
                          ],
                          [
                            -0.22899627685546872,
                            51.4747542817288
                          ],
                          [
                            -0.2382659912109375,
                            51.47560964094057
                          ],
                          [
                            -0.24890899658203125,
                            51.480313829908056
                          ],
                          [
                            -0.24684906005859372,
                            51.48394855271953
                          ],
                          [
                            -0.23929595947265622,
                            51.485445119088524
                          ],
                          [
                            -0.23380279541015625,
                            51.484376148122536
                          ],
                          [
                            -0.23380279541015625,
                            51.484376148122536
                          ]
                        ]
                      ]
                    },
                    "type": "Feature",
                    "properties": {
                      "areatype": "project",
                      "author": "ufeusr2",
                      "color": "#e76f51",
                      "diagramid": 17,
                      "sysid": 3
                    }
                  }
                ]
              },
              "sysid": 3,
              "rank": 3,
              "id": 3,
              "description": "e32"
            }


## Diagram Last Changed [/projects/{projectid}/diagrams/{diagramid}/changeid/]

### Get details last modified timestamp of a diagram [GET]
Returns the a hash of the last modified date, can be used to see if a diagram has changed from the last time it was accessed.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + diagramid: 12 (integer) - The ID of the diagram in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "changehash": "57266cf8"
        }


## User Diagrams selections [/projects/{projectid}/members/{username}/diagrams/]

### Get details diagrams selected by a user [GET]
Returns the geometry of the diagrams selected by the user for the particular project. The user has to be a member of the project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + username: ufeusr1 (string) - The username of a user who is a member of the project

+ Response 200 (application/json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.0254058837890625,
                      51.51643437722083
                    ],
                    [
                      -0.007553100585937499,
                      51.51344322994464
                    ],
                    [
                      -0.001373291015625,
                      51.5091698216777
                    ],
                    [
                      0,
                      51.494637234974235
                    ],
                    [
                      -0.00274658203125,
                      51.49036206277271
                    ],
                    [
                      -0.0185394287109375,
                      51.4830933498849
                    ],
                    [
                      -0.0226593017578125,
                      51.4830933498849
                    ],
                    [
                      -0.031585693359375,
                      51.486941636341456
                    ],
                    [
                      -0.030212402343749997,
                      51.515579783755925
                    ],
                    [
                      -0.0254058837890625,
                      51.524552215462975
                    ],
                    [
                      -0.0254058837890625,
                      51.51643437722083
                    ],
                    [
                      -0.0254058837890625,
                      51.51643437722083
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "sysname": "S7",
                "areatype": "policy",
                "description": "guava",
                "author": "ufeusr2",
                "color": "#653308",
                "diagramid": 15,
                "rgbcolor": "[101, 51, 8]"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.048065185546875,
                      51.476678817400156
                    ],
                    [
                      -0.04669189453125,
                      51.473257364513714
                    ],
                    [
                      -0.076904296875,
                      51.469407923261336
                    ],
                    [
                      -0.1229095458984375,
                      51.461280258392385
                    ],
                    [
                      -0.1380157470703125,
                      51.456146250469146
                    ],
                    [
                      -0.0995635986328125,
                      51.485231326900056
                    ],
                    [
                      -0.081024169921875,
                      51.49634719159713
                    ],
                    [
                      -0.0748443603515625,
                      51.49848454717058
                    ],
                    [
                      -0.06797790527343749,
                      51.49848454717058
                    ],
                    [
                      -0.048065185546875,
                      51.476678817400156
                    ],
                    [
                      -0.048065185546875,
                      51.476678817400156
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "sysname": "S6",
                "areatype": "policy",
                "description": "nagpur",
                "author": "ufeusr1",
                "color": "#0a650c",
                "diagramid": 14,
                "rgbcolor": "[10, 101, 12]"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.09750366210937499,
                      51.4830933498849
                    ],
                    [
                      -0.0968170166015625,
                      51.477106480966924
                    ],
                    [
                      -0.1064300537109375,
                      51.4655581571998
                    ],
                    [
                      -0.11260986328124999,
                      51.462563670141634
                    ],
                    [
                      -0.1325225830078125,
                      51.46213587023546
                    ],
                    [
                      -0.15106201171874997,
                      51.454434786162615
                    ],
                    [
                      -0.16548156738281247,
                      51.456146250469146
                    ],
                    [
                      -0.1812744140625,
                      51.46384704579897
                    ],
                    [
                      -0.182647705078125,
                      51.467696956223385
                    ],
                    [
                      -0.17303466796874997,
                      51.47197425351888
                    ],
                    [
                      -0.163421630859375,
                      51.47368506015889
                    ],
                    [
                      -0.138702392578125,
                      51.47496812303544
                    ],
                    [
                      -0.13458251953125,
                      51.48865188163204
                    ],
                    [
                      -0.1325225830078125,
                      51.49036206277271
                    ],
                    [
                      -0.12359619140625,
                      51.49036206277271
                    ],
                    [
                      -0.09750366210937499,
                      51.4830933498849
                    ],
                    [
                      -0.09750366210937499,
                      51.4830933498849
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "sysname": "ege",
                "areatype": "project",
                "description": "fasef",
                "author": "ufeusr2",
                "color": "#da0a16",
                "diagramid": 2,
                "rgbcolor": "[218, 10, 22]"
              }
            }
          ]
        }



## Group Systems API
Resources related to systems within a project on Geodesign Hub.

## Systems Collection [/projects/{projectid}/systems/]

### List project systems  [GET]
Returns all the system details for the project with ID and system name.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        [
          {
            "id": 1,
            "sysname": "Sys 1"
          },
          {
            "id": 2,
            "sysname": "ege"
          },
          {
            "id": 3,
            "sysname": "45"
          },
          {
            "id": 14,
            "sysname": "S6"
          },
          {
            "id": 15,
            "sysname": "S7"
          }
        ]
            

## System Detail [/projects/{projectid}/systems/{sysid}/]

### Get system details [GET]
Returns the details of that system such as system name, type, etc.
+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer

+ Response 200 (application/json)

        {
          "id": 1,
          "sysname": "Sys 1",
          "sysclass": "Attractiveness"
        }
        
## Add Project Diagram to System [/projects/{projectid}/systems/{sysid}/add/project/]

### Add a Project Diagram [POST]
Add a new diagram to a system

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer


+ Request (application/json)

        {
            "geometry": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "type": "Feature",
                      "properties": {},
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -0.09307265281677245,
                              51.516194024429446
                            ],
                            [
                              -0.09310483932495117,
                              51.51524595382876
                            ],
                            [
                              -0.09136676788330077,
                              51.51502562473659
                            ],
                            [
                              -0.09100198745727538,
                              51.515639872882986
                            ],
                            [
                              -0.09152770042419434,
                              51.51636093622468
                            ],
                            [
                              -0.09307265281677245,
                              51.51622740683744
                            ],
                            [
                              -0.09307265281677245,
                              51.516194024429446
                            ]
                          ]
                        ]
                      }
                    }
                  ]
                },
            "featuretype": "polygon"
            "description": "A new shopping mall"
        }
        
+ Response 200 (application/json)

        {
            "msg":"Diagram successfully Added"}
        }
## Add Policy Diagram to System [/projects/{projectid}/systems/{sysid}/add/policy/]

### Add a Policy Diagram [POST]
Add a new diagram to a system

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a policy in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer

    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Request (application/json)

        {
            "geometry": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "type": "Feature",
                      "properties": {},
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -0.10273933410644531,
                              51.5111730317151
                            ],
                            [
                              -0.10273933410644531,
                              51.523003529077705
                            ],
                            [
                              -0.08351325988769531,
                              51.523003529077705
                            ],
                            [
                              -0.08351325988769531,
                              51.5111730317151
                            ],
                            [
                              -0.10273933410644531,
                              51.5111730317151
                            ]
                          ]
                        ]
                      }
                    }
                  ]
                },
            "featuretype": "polygon"
            "description": "Low taxation policy"
        }
        
+ Response 200 (application/json)

        {
            "msg":"Diagram successfully Added"}
        }


## System Evaluation [/projects/{projectid}/systems/{sysid}/evaluation/]

### Get System Evaluation Geometry [GET]
Returns a GeoJSON feature collection for the evaluation map for this system.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "geojson": {
            "type": "FeatureCollection",
            "features": [
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ],
                      [
                        -0.208740234375,
                        51.53480425870272
                      ],
                      [
                        -0.204620361328125,
                        51.524979430024345
                      ],
                      [
                        -0.204620361328125,
                        51.514725174257
                      ],
                      [
                        -0.2066802978515625,
                        51.505750806437874
                      ],
                      [
                        -0.218353271484375,
                        51.497202145853784
                      ],
                      [
                        -0.230712890625,
                        51.49164465653034
                      ],
                      [
                        -0.24307250976562497,
                        51.48822432632349
                      ],
                      [
                        -0.2767181396484375,
                        51.48822432632349
                      ],
                      [
                        -0.2877044677734375,
                        51.49078959803455
                      ],
                      [
                        -0.292510986328125,
                        51.494637234974235
                      ],
                      [
                        -0.2931976318359375,
                        51.5091698216777
                      ],
                      [
                        -0.2849578857421875,
                        51.5283970022217
                      ],
                      [
                        -0.276031494140625,
                        51.536512708129735
                      ],
                      [
                        -0.2684783935546875,
                        51.540783551151826
                      ],
                      [
                        -0.22384643554687497,
                        51.54206472590799
                      ],
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ],
                      [
                        -0.21629333496093747,
                        51.5399294146093
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "red",
                  "color": "#f03b20"
                }
              },
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ],
                      [
                        -0.13458251953125,
                        51.53864817973767
                      ],
                      [
                        -0.12153625488281249,
                        51.52882418070984
                      ],
                      [
                        -0.11947631835937499,
                        51.52198884392169
                      ],
                      [
                        -0.11947631835937499,
                        51.50959718054336
                      ],
                      [
                        -0.12359619140625,
                        51.50062180251775
                      ],
                      [
                        -0.1297760009765625,
                        51.49634719159713
                      ],
                      [
                        -0.1593017578125,
                        51.497202145853784
                      ],
                      [
                        -0.16754150390625,
                        51.49848454717058
                      ],
                      [
                        -0.1737213134765625,
                        51.5027589576403
                      ],
                      [
                        -0.1764678955078125,
                        51.51045188624856
                      ],
                      [
                        -0.17578125,
                        51.519425328081894
                      ],
                      [
                        -0.1627349853515625,
                        51.53523137707124
                      ],
                      [
                        -0.1544952392578125,
                        51.5399294146093
                      ],
                      [
                        -0.1483154296875,
                        51.540783551151826
                      ],
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ],
                      [
                        -0.141448974609375,
                        51.5403564848844
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "green",
                  "color": "#74c476"
                }
              },
              {
                "geometry": {
                  "type": "Polygon",
                  "coordinates": [
                    [
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ],
                      [
                        -0.050811767578125,
                        51.55999738544502
                      ],
                      [
                        -0.0439453125,
                        51.55231282551346
                      ],
                      [
                        -0.03776550292968749,
                        51.53523137707124
                      ],
                      [
                        -0.0384521484375,
                        51.5283970022217
                      ],
                      [
                        -0.04119873046875,
                        51.524552215462975
                      ],
                      [
                        -0.0446319580078125,
                        51.52198884392169
                      ],
                      [
                        -0.0501251220703125,
                        51.520707104039275
                      ],
                      [
                        -0.05699157714843749,
                        51.520707104039275
                      ],
                      [
                        -0.06797790527343749,
                        51.524124996893335
                      ],
                      [
                        -0.06866455078125,
                        51.53523137707124
                      ],
                      [
                        -0.06591796875,
                        51.54121061341155
                      ],
                      [
                        -0.07415771484375,
                        51.55487448974971
                      ],
                      [
                        -0.06797790527343749,
                        51.56255861691012
                      ],
                      [
                        -0.0624847412109375,
                        51.56426602441386
                      ],
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ],
                      [
                        -0.05699157714843749,
                        51.56341232867588
                      ]
                    ]
                  ]
                },
                "type": "Feature",
                "properties": {
                  "areatype": "green",
                  "color": "#74c476"
                }
              }
            ]
          },
          "sysid": 1
        }


## Add Evaluation map to a System [/projects/{projectid}/systems/{sysid}/e/map/json/{username}/]

### Add Evaluation Map for a User [POST]
A geoJSON object that has the updated JSON layer of either evaluation or impact data submitted to the user

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project

    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Request (application/json)

        {
            "type":"FeatureCollection",
            "features":[
                {
                    "type":"Feature",
                    "properties":{
                        "areatype":"red"
                    },
                    "geometry":{
                        "type":"Polygon",
                        "coordinates":[
                            [
                                [
                                    -0.09307265281677245,
                                    51.516194024429446
                                ],
                                [
                                    -0.09310483932495117,
                                    51.51524595382876
                                ],
                                [
                                    -0.09136676788330077,
                                    51.51502562473659
                                ],
                                [
                                    -0.09100198745727538,
                                    51.515639872882986
                                ],
                                [
                                    -0.09152770042419434,
                                    51.51636093622468
                                ],
                                [
                                    -0.09307265281677245,
                                    51.51622740683744
                                ],
                                [
                                    -0.09307265281677245,
                                    51.516194024429446
                                ]
                            ]
                        ]
                    }
                }
            ]
        }
        
+ Response 200 (application/json)

        {
            "msg":"Data successfully posted to users."}
        }


## Add Impact map to a System [/projects/{projectid}/systems/{sysid}/i/map/json/{username}/]

### Add a Impact Map for a User [POST]
A geoJSON object that has the updated JSON layer of either evaluation or impact data submitted to the user

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project

    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Request (application/json)

        {
            "type":"FeatureCollection",
            "features":[
                {
                    "type":"Feature",
                    "properties":{
                        "areatype":"purple2"
                    },
                    "geometry":{
                        "type":"Polygon",
                        "coordinates":[
                            [
                                [
                                    -0.09307265281677245,
                                    51.516194024429446
                                ],
                                [
                                    -0.09310483932495117,
                                    51.51524595382876
                                ],
                                [
                                    -0.09136676788330077,
                                    51.51502562473659
                                ],
                                [
                                    -0.09100198745727538,
                                    51.515639872882986
                                ],
                                [
                                    -0.09152770042419434,
                                    51.51636093622468
                                ],
                                [
                                    -0.09307265281677245,
                                    51.51622740683744
                                ],
                                [
                                    -0.09307265281677245,
                                    51.516194024429446
                                ]
                            ]
                        ]
                    }
                }
            ]
        }
            
+ Response 200 (application/json)

        {
            "msg":"Data successfully posted to users."}
        }

## User System Diagram selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/]

### Get geometry of diagrams selected in a system by user [GET]
Returns the geometry of the diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project

+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            {
              "type": "FeatureCollection",
              "features": [
                {
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -0.05939483642578125,
                          51.47560964094057
                        ],
                        [
                          -0.0556182861328125,
                          51.47411275179423
                        ],
                        [
                          -0.05664825439453124,
                          51.471546541834144
                        ],
                        [
                          -0.06111145019531251,
                          51.46983565499581
                        ],
                        [
                          -0.07106781005859375,
                          51.46812470399788
                        ],
                        [
                          -0.0803375244140625,
                          51.468552447762384
                        ],
                        [
                          -0.08411407470703125,
                          51.46962178962983
                        ],
                        [
                          -0.08274078369140624,
                          51.47432659610822
                        ],
                        [
                          -0.0817108154296875,
                          51.47496812303544
                        ],
                        [
                          -0.06900787353515625,
                          51.47732031124666
                        ],
                        [
                          -0.05939483642578125,
                          51.47560964094057
                        ],
                        [
                          -0.05939483642578125,
                          51.47560964094057
                        ]
                      ]
                    ]
                  },
                  "type": "Feature",
                  "properties": {
                    "areatype": "project",
                    "color": "#331196"
                  }
                }
              ]
            }

## User System Projects Diagram selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/projects/]

### Get geometries of project diagrams selected in a system by user [GET]
Returns the geometry only of project diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project
    
+ Request
    + Headers

            Authorization: Token ABC123
            

+ Response 200 (application/json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ],
                    [
                      -0.0556182861328125,
                      51.47411275179423
                    ],
                    [
                      -0.05664825439453124,
                      51.471546541834144
                    ],
                    [
                      -0.06111145019531251,
                      51.46983565499581
                    ],
                    [
                      -0.07106781005859375,
                      51.46812470399788
                    ],
                    [
                      -0.0803375244140625,
                      51.468552447762384
                    ],
                    [
                      -0.08411407470703125,
                      51.46962178962983
                    ],
                    [
                      -0.08274078369140624,
                      51.47432659610822
                    ],
                    [
                      -0.0817108154296875,
                      51.47496812303544
                    ],
                    [
                      -0.06900787353515625,
                      51.47732031124666
                    ],
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ],
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "color": "#331196"
              }
            }
          ]
        }
        

## User System Policies Diagram selection [/projects/{projectid}/systems/{sysid}/{username}/diagrams/policies/]

### Get geometries of policy diagrams selected in a system by user [GET]
Returns the geometry only of policy diagrams selected by the user for the particular project and a specific system. 

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
    + username: ufeusr1 (string) - The username of a user who is a member of the project
    
+ Request
    + Headers

            Authorization: Token ABC123

+ Response 200 (application/json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ],
                    [
                      -0.0556182861328125,
                      51.47411275179423
                    ],
                    [
                      -0.05664825439453124,
                      51.471546541834144
                    ],
                    [
                      -0.06111145019531251,
                      51.46983565499581
                    ],
                    [
                      -0.07106781005859375,
                      51.46812470399788
                    ],
                    [
                      -0.0803375244140625,
                      51.468552447762384
                    ],
                    [
                      -0.08411407470703125,
                      51.46962178962983
                    ],
                    [
                      -0.08274078369140624,
                      51.47432659610822
                    ],
                    [
                      -0.0817108154296875,
                      51.47496812303544
                    ],
                    [
                      -0.06900787353515625,
                      51.47732031124666
                    ],
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ],
                    [
                      -0.05939483642578125,
                      51.47560964094057
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "policy",
                "color": "#331196"
              }
            }
          ]
        }

## Group Change Teams API
A set of resources related to Change teams within a Geodesign Hub Project

## Change Team Collection [/projects/{projectid}/cteams/]

### List all change teams   [GET]
Return all the change teams for that project.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

            [
              {
                "id": 1,
                "title": "DEV"
              },
              {
                "id": 4,
                "title": "ECON"
              }
            ]  



## Change Team Detail [/projects/{projectid}/cteams/{cteamid}/]

### List designs of a Change team  [GET]
Returns a list of synthesis created by this change team

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer

+ Response 200 (application/json)

        {
          "synthesis": [
            {
              "cteamid": 1,
              "creationdate": "2016-04-28T22:24:21.968000",
              "id": "PHBN4B9H1KDBHKPK",
              "description": "v3"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-04-30T13:36:54.304000",
              "id": "9F79977KO8KB35GM",
              "description": "ve3"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-04-30T13:39:01.860000",
              "id": "0FN94DJH903ONLH4",
              "description": "e2"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:34:27.744000",
              "id": "7N1LP9E4E2OG81L8",
              "description": "new d"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:36:05.462000",
              "id": "BE52E36N507DIBFF",
              "description": "old design"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:36:33.845000",
              "id": "82F3ADJ2P67FCI8O",
              "description": "v5"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-05-01T19:40:15.976000",
              "id": "9P45D3EA03ON7AL9",
              "description": "v09"
            },
            {
              "cteamid": 1,
              "creationdate": "2016-06-09T20:50:11.149083",
              "id": "EMHK5NP4K47OMHCB",
              "description": "v1"
            }
          ]
        }




## Change Team Members [/projects/{projectid}/cteams/{cteamid}/members/]

### List members of a changeteam  [GET]
Returns a list of usernames of users who are members of this change team.
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer

+ Response 200 (application/json)

        {
          "members": [
            "ufeusr1"
          ]
        }
        


## Change Team Design Synthesis [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/json/]

### Get Design Synthesis  [GET]
Returns a GeoJSON feature collection object of the synthesis that is saved.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer
    + synthesisid: 2G638FLMLJEGF706 (string) - The ID of a synthesis in the form of a string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.09175300598144531,
                      51.51595367036976
                    ],
                    [
                      -0.09175300598144531,
                      51.518090106431515
                    ],
                    [
                      -0.08977890014648438,
                      51.518090106431515
                    ],
                    [
                      -0.08977890014648438,
                      51.51595367036976
                    ],
                    [
                      -0.09175300598144531,
                      51.51595367036976
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "description": "hrishi",
                "author": "ufeusr1",
                "color": "#e76f51",
                "diagramid": 49,
                "systag": "Industry, commerce"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.10883331298828125,
                      51.517983287008434
                    ],
                    [
                      -0.10883331298828125,
                      51.51979918312931
                    ],
                    [
                      -0.10514259338378906,
                      51.51979918312931
                    ],
                    [
                      -0.10514259338378906,
                      51.517983287008434
                    ],
                    [
                      -0.10883331298828125,
                      51.517983287008434
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "description": "hrishi",
                "author": "ufeusr1",
                "color": "#e76f51",
                "diagramid": 49,
                "systag": "Industry, commerce"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.10033607482910155,
                      51.51776964741072
                    ],
                    [
                      -0.10033607482910155,
                      51.52193543881349
                    ],
                    [
                      -0.09879112243652344,
                      51.52193543881349
                    ],
                    [
                      -0.09879112243652344,
                      51.51776964741072
                    ],
                    [
                      -0.10033607482910155,
                      51.51776964741072
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "description": "hrishi",
                "author": "ufeusr1",
                "color": "#e76f51",
                "diagramid": 49,
                "systag": "Industry, commerce"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.09613037109375,
                      51.51886453975653
                    ],
                    [
                      -0.09613037109375,
                      51.52161500684911
                    ],
                    [
                      -0.0922250747680664,
                      51.52161500684911
                    ],
                    [
                      -0.0922250747680664,
                      51.51886453975653
                    ],
                    [
                      -0.09613037109375,
                      51.51886453975653
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "description": "hrishi",
                "author": "ufeusr1",
                "color": "#e76f51",
                "diagramid": 49,
                "systag": "Industry, commerce"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ],
                    [
                      -0.1297760009765625,
                      51.51344322994464
                    ],
                    [
                      -0.12805938720703125,
                      51.50981085847292
                    ],
                    [
                      -0.12874603271484375,
                      51.5091698216777
                    ],
                    [
                      -0.13286590576171875,
                      51.5091698216777
                    ],
                    [
                      -0.14247894287109375,
                      51.51173391474148
                    ],
                    [
                      -0.14385223388671875,
                      51.514084206610455
                    ],
                    [
                      -0.14934539794921875,
                      51.51792987720294
                    ],
                    [
                      -0.13767242431640625,
                      51.519425328081894
                    ],
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ],
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "author": "ufeusr1",
                "color": "#331196",
                "diagramid": 10,
                "description": "ce3",
                "systag": "Small buildings, low density housing"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.0885772705078125,
                      51.53629915545823
                    ],
                    [
                      -0.08480072021484375,
                      51.53202789161459
                    ],
                    [
                      -0.1023101806640625,
                      51.53053285458183
                    ],
                    [
                      -0.10711669921875,
                      51.53245503603458
                    ],
                    [
                      -0.10505676269531249,
                      51.536512708129735
                    ],
                    [
                      -0.0954437255859375,
                      51.53907526203596
                    ],
                    [
                      -0.0885772705078125,
                      51.53629915545823
                    ],
                    [
                      -0.0885772705078125,
                      51.53629915545823
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "author": "ufeusr1",
                "color": "#da0a16",
                "diagramid": 11,
                "description": "54",
                "systag": "Agriculture, Forestry"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.13561248779296875,
                      51.53266860674158
                    ],
                    [
                      -0.13080596923828125,
                      51.53010569212588
                    ],
                    [
                      -0.127716064453125,
                      51.525833847122584
                    ],
                    [
                      -0.13080596923828125,
                      51.52198884392169
                    ],
                    [
                      -0.1366424560546875,
                      51.52177522311313
                    ],
                    [
                      -0.14316558837890625,
                      51.52412499689336
                    ],
                    [
                      -0.14453887939453125,
                      51.52796981972546
                    ],
                    [
                      -0.14247894287109375,
                      51.531600743186644
                    ],
                    [
                      -0.1531219482421875,
                      51.53693981046692
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "policy",
                "diagramtype": "policy",
                "author": "ufeusr1",
                "color": "#331196",
                "diagramid": 12,
                "description": "656",
                "systag": "Small buildings, low density housing"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.23380279541015625,
                      51.484376148122536
                    ],
                    [
                      -0.23139953613281247,
                      51.48352095330697
                    ],
                    [
                      -0.22762298583984372,
                      51.47817562234123
                    ],
                    [
                      -0.22762298583984372,
                      51.47560964094057
                    ],
                    [
                      -0.22899627685546872,
                      51.4747542817288
                    ],
                    [
                      -0.2382659912109375,
                      51.47560964094057
                    ],
                    [
                      -0.24890899658203125,
                      51.480313829908056
                    ],
                    [
                      -0.24684906005859372,
                      51.48394855271953
                    ],
                    [
                      -0.23929595947265622,
                      51.485445119088524
                    ],
                    [
                      -0.23380279541015625,
                      51.484376148122536
                    ],
                    [
                      -0.23380279541015625,
                      51.484376148122536
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "author": "ufeusr2",
                "color": "#e76f51",
                "diagramid": 17,
                "description": "e32",
                "systag": "Industry, commerce"
              }
            },
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.0913238525390625,
                      51.514725174257
                    ],
                    [
                      -0.08514404296875,
                      51.513870548723986
                    ],
                    [
                      -0.08411407470703125,
                      51.51322956905176
                    ],
                    [
                      -0.0844573974609375,
                      51.51173391474148
                    ],
                    [
                      -0.08960723876953125,
                      51.51045188624856
                    ],
                    [
                      -0.09613037109375,
                      51.51066556016946
                    ],
                    [
                      -0.10265350341796875,
                      51.51173391474148
                    ],
                    [
                      -0.10505676269531249,
                      51.51280224425956
                    ],
                    [
                      -0.10162353515625,
                      51.51579343362533
                    ],
                    [
                      -0.09441375732421875,
                      51.51750259650432
                    ],
                    [
                      -0.0913238525390625,
                      51.514725174257
                    ],
                    [
                      -0.0913238525390625,
                      51.514725174257
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "author": "ufeusr1",
                "color": "#da0a16",
                "diagramid": 18,
                "description": "e2",
                "systag": "Agriculture, Forestry"
              }
            }
          ]
        }


## Change Team Synthesis Diagrams [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/diagrams/]

### List diagrams in a synthesis  [GET]
Returns a list of diagram IDs in the selected synthesis.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application/json)

        {
          "diagrams": [
            49,
            10,
            11,
            12,
            17,
            18
          ],
          "synthesisid": "2G638FLMLJEGF706"
        }
                

## Change Team Design Synthesis Policies [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/projects/json/]

### Get Policy Diagrams from Synthesized Design [GET]
Returns a GeoJSON feature collection object of the all the policy diagrams in the synthesis that is saved.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer
    + synthesisid: 2G638FLMLJEGF706 (string) - The ID of a synthesis in the form of a string
    
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application / json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.13561248779296875,
                      51.53266860674158
                    ],
                    [
                      -0.13080596923828125,
                      51.53010569212588
                    ],
                    [
                      -0.127716064453125,
                      51.525833847122584
                    ],
                    [
                      -0.13080596923828125,
                      51.52198884392169
                    ],
                    [
                      -0.1366424560546875,
                      51.52177522311313
                    ],
                    [
                      -0.14316558837890625,
                      51.52412499689336
                    ],
                    [
                      -0.14453887939453125,
                      51.52796981972546
                    ],
                    [
                      -0.14247894287109375,
                      51.531600743186644
                    ],
                    [
                      -0.1531219482421875,
                      51.53693981046692
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "policy",
                "diagramtype": "policy",
                "author": "ufeusr1",
                "color": "#331196",
                "diagramid": 12,
                "description": "656",
                "systag": "Small buildings, low density housing"
              }
            }
          ]
        }
        

## Change Team Design Synthesis Projects by System [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/systems/{sysid}/projects/json/]

### Get Policy Diagrams filtered by system from Synthesized Design [GET]
Returns a GeoJSON feature collection object of of the all the project diagrams for the given system in the saved synthesis.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer
    + synthesisid: 2G638FLMLJEGF706 (string) - The ID of a synthesis in the form of a string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
        
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application / json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ],
                    [
                      -0.1297760009765625,
                      51.51344322994464
                    ],
                    [
                      -0.12805938720703125,
                      51.50981085847292
                    ],
                    [
                      -0.12874603271484375,
                      51.5091698216777
                    ],
                    [
                      -0.13286590576171875,
                      51.5091698216777
                    ],
                    [
                      -0.14247894287109375,
                      51.51173391474148
                    ],
                    [
                      -0.14385223388671875,
                      51.514084206610455
                    ],
                    [
                      -0.14934539794921875,
                      51.51792987720294
                    ],
                    [
                      -0.13767242431640625,
                      51.519425328081894
                    ],
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ],
                    [
                      -0.13423919677734375,
                      51.51536613288439
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "project",
                "diagramtype": "project",
                "author": "ufeusr1",
                "color": "#331196",
                "diagramid": 10,
                "description": "ce3",
                "systag": "Small buildings, low density housing"
              }
            }
          ]
        }
        

## Change Team Design Synthesis Projects by System [/projects/{projectid}/cteams/{cteamid}/{synthesisid}/systems/{sysid}/policies/json/]

### Get Policy Diagrams filtered by system from Synthesized Design [GET]
Returns a GeoJSON feature collection object of of the all the policy diagrams for the given system in the saved synthesis.

+ Parameters
    + projectid: 5c84b38a16ebeed0 (string) - The ID of a project in the form of an string
    + cteamid: 12 (integer) - The ID of the change team in the form of an integer
    + synthesisid: 2G638FLMLJEGF706 (string) - The ID of a synthesis in the form of a string
    + sysid: 23 (integer) - The ID of the system in the form of an integer
        
+ Request
    + Headers

            Authorization: Token ABC123
            
+ Response 200 (application / json)

        {
          "type": "FeatureCollection",
          "features": [
            {
              "geometry": {
                "type": "Polygon",
                "coordinates": [
                  [
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.13561248779296875,
                      51.53266860674158
                    ],
                    [
                      -0.13080596923828125,
                      51.53010569212588
                    ],
                    [
                      -0.127716064453125,
                      51.525833847122584
                    ],
                    [
                      -0.13080596923828125,
                      51.52198884392169
                    ],
                    [
                      -0.1366424560546875,
                      51.52177522311313
                    ],
                    [
                      -0.14316558837890625,
                      51.52412499689336
                    ],
                    [
                      -0.14453887939453125,
                      51.52796981972546
                    ],
                    [
                      -0.14247894287109375,
                      51.531600743186644
                    ],
                    [
                      -0.1531219482421875,
                      51.53693981046692
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ],
                    [
                      -0.14316558837890625,
                      51.53523137707124
                    ]
                  ]
                ]
              },
              "type": "Feature",
              "properties": {
                "areatype": "policy",
                "diagramtype": "policy",
                "author": "ufeusr1",
                "color": "#331196",
                "diagramid": 12,
                "description": "656",
                "systag": "Small buildings, low density housing"
              }
            }
          ]
        }